# --- Google Cloud ---
GCP_PROJECT_ID=neobanx-fraud-detection
GCP_REGION=us-central1

# --- Cloud SQL ---
DB_INSTANCE_NAME=neobanx-transaccional
DB_NAME=neobanx
DB_PASSWORD=changeme

# --- Generador de streaming ---
GENERATOR_SALT=changeme-local-salt
FECHA_INICIO="2019-02-25 22:00:00"
FECHA_FIN="2019-02-26 00:00:00"
TOPIC_ID=transacciones-neobanx
MAX_FILAS=